<!DOCTYPE html>
<html>
  <head>
    <title>MyViteApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'index.jsx' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.svg')%>"
      window.menu = "<%= image_url('menu.png')%>"
      window.close = "<%= image_url('close.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
