<!DOCTYPE html>
<html>
  <head>
    <title>Stone of Zimbabwe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
        FontAwesomeConfig = {
          mutateApproach: 'sync'
        }
      </script>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'index.jsx' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png')%>"
      window.currentUser = "<%= signed_in_user %>"
      window.loginIn = "<%= logged_in? %>"
      window.hero = "<%= image_url('hero.png')%>"
      window.placeholder = "<%= image_url('placeholder.jpg')%>"
      window.avator = "<%= image_url('avator.png')%>"
      window.architecture = "<%= image_url('architecture.png')%>"
      window.stripe_key = "<%= Rails.application.credentials[:stripe][:secret_live] %>"
    </script>

    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
